body {
  background: #fff url("../img/grey_@2X.png") repeat top left;
  font-family: 'Supermercado One', cursive; }

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
