//---------------------------------------------//
// Generic layout styles
//---------------------------------------------//

.container {
  width: 96%;
  max-width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
}